{% extends "skeleton.html" %}

{% block main %}
<div id="accounts_form_container">
    <form method="post" class="flex">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
</div>
{% if planet_forms_list %}
<div id="planet_form_container" class="flex">
    <form method="post" class="flex flex-col">
        {% csrf_token %}
        {% for planet_form in planet_forms_list %}
            <div class="flex">          
                {{ planet_form }}
            </div>
        {% endfor %}
        <button type="submit">Submit Planets</button>
    </form>
</div>
{% endif %}
{% endblock main %}